on:
  pull_request:
  workflow_call:

jobs:
  build:
    runs-on: ${{ matrix.platform.os }}
    outputs:
      pkg: ${{ steps.build.outputs.pkgjson }}
    strategy:
      matrix:
        platform:
          - os: ubuntu-latest
            name: linux
            arch: x86-64
          - os: macos-latest
            name: darwin
            arch: aarch64
    steps:
      - uses: actions/checkout@v4
        with:
          path: co # test that things working isn't just a coincident of PWD == BREKWIT_DIR

      - uses: pkgxdev/setup@v4
      - uses: ./co/.github/setup-pantry
        with:
          path: ${{github.workspace}}/co

      - uses: ./co/build
        id: build
        with:
          pkg: stark.com/foo

      - run: test ${{ steps.build.outputs.pkgspec }} = stark.com/foo=2.3.4
      - run: test ${{ steps.build.outputs.project }} = stark.com/foo
      - run: test ${{ steps.build.outputs.version }} = 2.3.4
      - run: test ${{ steps.build.outputs.platform }} = ${{ matrix.platform.name }}
      - run: test ${{ steps.build.outputs.arch }} = ${{ matrix.platform.arch }}
      - run: test -d ${{ steps.build.outputs.prefix }}
      - run: test $BREWKIT_PKGSPEC = ${{ steps.build.outputs.pkgspec }}
      - run: test $BREWKIT_PREFIX = ${{ steps.build.outputs.prefix }}

      - uses: ./co/upload-build-artifact

  test:
    needs: build
    strategy:
      matrix:
        platform-key:
          - darwin+aarch64
          - null
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          path: co # test that things working isn't just a coincident of PWD == BREKWIT_DIR
      - uses: pkgxdev/setup@v4
      - uses: ./co/.github/setup-pantry
        with:
          path: ${{github.workspace}}/co
      - uses: ./co/download-build-artifact
        with:
          pkg: ${{ needs.build.outputs.pkg }}
          platform: ${{ matrix.platform-key }}
      - uses: ./co/test
        with:
          pkg: ${{ needs.build.outputs.pkg }}

  audit:
    needs: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          path: co # test that things working isn't just a coincident of PWD == BREKWIT_DIR
      - uses: pkgxdev/setup@v4
      - uses: ./co/.github/setup-pantry
        with:
          path: ${{github.workspace}}/co
      - uses: ./co/download-build-artifact
        with:
          pkg: ${{ needs.build.outputs.pkg }}
      - uses: ./co/audit
        with:
          pkg: ${{ needs.build.outputs.pkg }}

  bottle:
    needs: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        compression: [xz, gz]
        platform:
          - darwin+aarch64
          - linux+x86-64
    steps:
      - uses: actions/checkout@v4
        with:
          path: co # test that things working isn't just a coincident of PWD == BREKWIT_DIR

      - uses: pkgxdev/setup@v4
      - uses: ./co/.github/setup-pantry
        with:
          path: ${{github.workspace}}/co

      - uses: ./co/download-build-artifact
        id: dl
        with:
          extract: false
          platform: ${{ matrix.platform }}
          pkg: ${{ needs.build.outputs.pkg }}

      - uses: ./co/bottle
        id: bottle
        with:
          file: ${{ steps.dl.outputs.filename }}
          compression: ${{matrix.compression}}

      - uses: actions/upload-artifact@v4
        with:
          path: ${{ steps.bottle.outputs.filename }}
          name: ${{ steps.bottle.outputs.name }}

  unavailable:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pkgxdev/setup@v4
      - uses: ./.github/setup-pantry

      - uses: ./build
        id: build
        with:
          pkg: unavailable.com

      - run: echo ${{steps.build.outputs.noop}}

      - run: exit 1
        if: ${{steps.build.outputs.noop != 'true'}}

  id:
    runs-on: ubuntu-latest
    outputs:
      pkgs: ${{ steps.id.outputs.pkgs }}
    steps:
      - uses: actions/checkout@v4
      - uses: pkgxdev/setup@v4
      - uses: ./.github/setup-pantry
      - uses: ./id
        id: id
        with:
          pkg: stark.com/foo
      - run: test ${{ steps.id.outputs.version }} = 2.3.4
      - run: test ${{ steps.id.outputs.version-raw }} = 2.3.4
      - run: test -z "${{ steps.id.outputs.version-tag }}"

      - uses: ./build
        with:
          pkg: ${{ steps.id.outputs.pkg-json }}

      - uses: ./id
        id: id2
        with:
          pkg: toolchain.com

      - run: test v${{ steps.id2.outputs.version }} = ${{ steps.id2.outputs.version-tag }}
      - run: test ${{ steps.id2.outputs.version-raw }} = ${{ steps.id2.outputs.version }}

      # test that running off the `BREWKIT_PKGJSON` that the id action sets works
      - uses: ./build
        id: build

      - run: test ${{ steps.build.outputs.project }} = 'toolchain.com'

      - uses: ./test
