on:
  pull_request:
  workflow_call:

env:
  GITHUB_TOKEN: ${{github.token}}
  PKGX_PANTRY_PATH: ${{github.workspace}}

jobs:
  integration-tests:
    name: ${{matrix.pkg}} (${{matrix.platform.tag}})
    strategy:
      fail-fast: false
      matrix:
        platform:
          - os: ubuntu-latest
            img: debian:buster-slim
            tag: linux
          - os: macos-latest
            tag: mac
        pkg:
          - stark.com/foo
          - toolchain.com
          - pyapp.com/pip
          - pyapp.com/poetry
          - stark.com/foo@1.2.3
          - git-clone.com
          - pc-cmake.com
          - fix-machos.com
          - version-transformer.com

    runs-on: ${{ matrix.platform.os }}
    container: ${{ matrix.platform.img }}
    steps:
      - uses: actions/checkout@v4
      - uses: pkgxdev/setup@v2

      - name: precache  # makes it easier to read the real output
        run: pkgx deno^1 cache test/test.ts build/build.ts

      - run: bin/bk build ${{matrix.pkg}}
      - run: bin/bk test ${{matrix.pkg}}
      - run: bin/bk audit ${{matrix.pkg}}

  local-edit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pkgxdev/setup@v2
      - uses: ./.github/modify-pantry
      - run: test $(bin/bk status) = stark.com/foo
      - run: bin/bk build
      - run: bin/bk test
      - run: test $(pkgx +stark.com/foo -- stark) = not_much_u
      - run: bin/bk audit
      # check build can run twice, see https://github.com/pkgxdev/brewkit/issues/303
      - run: bin/bk build


  unit-tests:
    runs-on: ubuntu-latest
    env:
      PKGX_PANTRY_PATH: null
    steps:
      - uses: actions/checkout@v4
      - uses: pkgxdev/dev@v0
      - run: deno test --allow-env --allow-net --ignore=.data
        working-directory: lib

  unavailable:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pkgxdev/setup@v2
      - run: pkgx --sync  # FIXME PKGX_PANTRY_PATH causes auto sync to fail
      - name: build
        run: |
          set +e
          bin/bk build unavailable.com
          test $? -eq 2
