on:
  pull_request:
  workflow_call:

env:
  GITHUB_TOKEN: ${{github.token}}

jobs:
  integration-tests:
    name: ${{matrix.pkg}} (${{matrix.platform.tag}})
    strategy:
      fail-fast: false
      matrix:
        platform:
          - os: ubuntu-latest
            img: debian:bullseye-slim
            tag: linux
          - os: macos-latest
            tag: mac
        pkg:
          - stark.com/foo
          - toolchain.com
          - pyapp.com/pip
          - pyapp.com/poetry
          - stark.com/foo@1.2.3
          - git-clone.com
          - pc-cmake.com
          - fix-machos.com
          - version-transformer.com
          - fixups.org

    runs-on: ${{ matrix.platform.os }}
    container: ${{ matrix.platform.img }}
    steps:
      # we need libc6-dev headers and gcc bits
      - run: apt-get update && apt-get install -y build-essential
        if: matrix.platform.img != null
      - uses: actions/checkout@v4
      - uses: pkgxdev/setup@v4
      - uses: ./.github/setup-pantry

      - run: bin/bk build ${{matrix.pkg}}
      - run: bin/bk test ${{matrix.pkg}}
      - run: bin/bk audit ${{matrix.pkg}}

  local-edit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pkgxdev/setup@v4
      - uses: ./.github/setup-pantry
      - uses: ./.github/modify-pantry
      - run: test $(bin/bk status) = stark.com/foo
      - run: bin/bk build
      - run: bin/bk test
      - run: test $(pkgx +stark.com/foo -- stark) = not_much_u
      - run: bin/bk audit
      # check build can run twice, see https://github.com/pkgxdev/brewkit/issues/303
      - run: bin/bk build

  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - run: |
          unset PKGX_PANTRY_PATH
          unset PKGX_PANTRY_DIR
      - uses: actions/checkout@v4
      - uses: pkgxdev/dev@v1
      - run: deno test --allow-env --allow-net --ignore=.data
        working-directory: lib

  unavailable:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pkgxdev/setup@v4
      - uses: ./.github/setup-pantry
      - name: build
        run: |
          set +e
          bin/bk build unavailable.com
          test $? -eq 2
